<app-side-bar-menu></app-side-bar-menu>
<div class="content">
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
    <p>{{ errorMsg }}</p>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="successMsg">
      <p>{{ successMsg }}</p>
    </div>
  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <h3>Change Password</h3>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        placeholder="Please enter Current password"
        ngModel
        name="currentPassword"
        required
        #currentPassword="ngModel"
      />
      <div
        class="error-msg"
        *ngIf="
          !currentPassword.valid &&
          currentPassword.touched &&
          currentPassword.value == ''
        "
      >
        Current Password is required
      </div>
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        placeholder="Please enter New password"
        ngModel
        name="newPassword"
        required
        #newPassword="ngModel"
      />
      <div
        class="error-msg"
        *ngIf="
          !newPassword.valid && newPassword.touched && newPassword.value == ''
        "
      >
        New Password is required
      </div>
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        placeholder="Please enter Confirm New password"
        ngModel
        name="confirmNewPassword"
        required
        #confirmNewPassword="ngModel"
      />
      <div
        class="error-msg"
        *ngIf="
          !confirmNewPassword.valid &&
          confirmNewPassword.touched &&
          confirmNewPassword.value == ''
        "
      >
        Confirm New Password is required
      </div>
      <div
        class="error-msg"
        *ngIf="
          newPassword.touched &&
          confirmNewPassword.touched &&
          newPassword.value != confirmNewPassword.value
        "
      >
        New Password & Confirm New Password are not matched
      </div>
    </div>
    <div>
      <button
        class="btn btn-danger"
        style="float: right"
        type="submit"
        [disabled]="!authForm.valid || newPassword.value != confirmNewPassword.value"
      >
        Submit
      </button>
    </div>
  </form>
</div>
