<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
      <p>{{ errorMsg }}</p>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="successMsg">
      <p>{{ successMsg }}</p>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <label>Reset Password</label>
      <div class="form-group">
        <fa-icon [icon]="faEnvelope"></fa-icon>
        <input
          type="email"
          id="username"
          class="form-control"
          placeholder="Username"
          ngModel
          name="username"
          required
          #username="ngModel"
        />
        <div
          class="error-msg"
          *ngIf="!username.valid && username.touched && username.value == ''"
        >
          Username is required
        </div>
      </div>
      <div>
        <a style="float: left" routerLink="/login">Back to login</a>
        <button
          style="float: right"
          class="btn btn-danger"
          type="submit"
          [disabled]="!authForm.valid"
        >
          Reset Password
        </button>
      </div>
    </form>
  </div>
</div>
